In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('Corporate_Procurement_Contract_Awards.txt')

In [4]:
df["Quarter and Fiscal Year"].value_counts()

Q4 - FY14    98
Q2 - FY16    98
Q3 - FY17    97
Q4 - FY15    96
Q4 - FY16    96
Q3 - FY18    92
Q4 - FY18    90
Q3 - FY16    84
Q4 - FY17    82
Q3 - FY15    80
Q2 - FY17    80
Q2 - FY18    79
Q2 - FY15    79
Q1 - FY17    77
Q1 - FY15    73
Q2 - FY14    72
Q1 - FY16    70
Q3 - FY14    68
Q1 - FY18    67
Q1 - FY14    65
Q1 - FY19    58
Name: Quarter and Fiscal Year, dtype: int64

In [6]:
def get_quarter(x):
    return x.split(" ")[0]

df["Quarter"] = df["Quarter and Fiscal Year"].map(get_quarter)

In [8]:
df["Quarter2"] = df["Quarter and Fiscal Year"].map(lambda x: x.split(" ")[0])

In [10]:
df["Year"] = df["Quarter and Fiscal Year"].map(lambda x: "20{}".format(x.split("Y")[1]))

In [12]:
df["Year"].value_counts()

2016    348
2017    336
2015    328
2018    328
2014    303
2019     58
Name: Year, dtype: int64

In [14]:
df["Supplier"].nunique()

1225

In [15]:
df["Supplier"].unique()

array(['University Hospital Heidelberg', 'DataSoft Systems Bangladesh Li',
       'Economic Consulting Associates, Ltd.', ...,
       'National Center for Civic Innovation',
       'International Water Mgmt. Institute', 'Net Expat Inc.'],
      dtype=object)

In [18]:
df["Commodity Category"].nunique()

35

In [24]:
df.groupby(["Commodity Category","Year"])["Selection Number"].count()

Commodity Category  Year
AUDIO VISUAL        2015    2
                    2016    4
AUDIO VISUALS       2014    2
CARTOGRAPHIC        2018    1
CONSULTING          2014    1
                           ..
TRAINING            2017    7
                    2018    2
TRAINING            2018    4
TRANSPORTATION      2015    1
                    2017    1
Name: Selection Number, Length: 82, dtype: int64

In [28]:
df["Commodity Category"].unique()

array(['CONTRACT CONSULTANTS', 'SOFTWARE', 'EXTRNL/CATERED EVENT',
       'AUDIO VISUAL', 'CONSULTING', 'EXTERNAL/CATERED EVENT',
       'MISCELLANEOUS', 'TRANSPORTATION', 'TELECOMMUNICATIONS',
       'IT HARDWARE', 'TRAINING', 'PHOTOCOPY', 'PUBLISHING', 'MEDICAL',
       'External Meetings (non-staff)', 'MISCELLANEOUS SRVCS', 'PRINTING',
       'PRINTING ', 'SOFTWARE ', 'INFORMATION TECH.', 'TRAINING ',
       'CARTOGRAPHIC ', 'MEDICAL ', 'AUDIO VISUALS', 'FURNITURE ',
       'TELECOMMUNICATIONS ', 'LANGUAGE SERVICES',
       'MISCELLANEOUS SERVICES', 'GENERAL BUILDING', 'FURNITURE',
       'SUBSCRIPTION', 'CONTRACT CONSULTING',
       'RESEARCH AND ADVISORY SERVICE', 'MISCELANEOUS', 'FREIGHT/MAIL'],
      dtype=object)

In [29]:
df["Commodity Category"] = df["Commodity Category"].map(lambda x: x.strip())

In [30]:
df["Commodity Category"].unique()

array(['CONTRACT CONSULTANTS', 'SOFTWARE', 'EXTRNL/CATERED EVENT',
       'AUDIO VISUAL', 'CONSULTING', 'EXTERNAL/CATERED EVENT',
       'MISCELLANEOUS', 'TRANSPORTATION', 'TELECOMMUNICATIONS',
       'IT HARDWARE', 'TRAINING', 'PHOTOCOPY', 'PUBLISHING', 'MEDICAL',
       'External Meetings (non-staff)', 'MISCELLANEOUS SRVCS', 'PRINTING',
       'INFORMATION TECH.', 'CARTOGRAPHIC', 'AUDIO VISUALS', 'FURNITURE',
       'LANGUAGE SERVICES', 'MISCELLANEOUS SERVICES', 'GENERAL BUILDING',
       'SUBSCRIPTION', 'CONTRACT CONSULTING',
       'RESEARCH AND ADVISORY SERVICE', 'MISCELANEOUS', 'FREIGHT/MAIL'],
      dtype=object)

In [31]:
df.groupby(["Commodity Category","Year"])["Selection Number"].count()

Commodity Category  Year
AUDIO VISUAL        2015    2
                    2016    4
AUDIO VISUALS       2014    2
CARTOGRAPHIC        2018    1
CONSULTING          2014    1
                           ..
TRAINING            2016    3
                    2017    7
                    2018    6
TRANSPORTATION      2015    1
                    2017    1
Name: Selection Number, Length: 78, dtype: int64

In [33]:
df["Supplier Country Code"].unique()

array(['DE', 'BD', 'GB', 'GR', 'ES', 'DK', 'US', 'KE', 'FR', nan, 'CA',
       'SG', 'PT', 'HK', 'FI', 'BW', 'PK', 'NL', 'AT', 'BE', 'RU', 'AE',
       'ID', 'UK', 'NG', 'JO', 'BF', 'YF', 'EG', 'BM', 'IN', 'SN', 'MU',
       'ML', 'CO', 'ZM', 'CI', 'PH', 'CH', 'NZ', 'IE', 'CN', 'PE', 'TR',
       'NP', 'BR', 'LA', 'IT', 'BB', 'DO', 'VN', 'MA', 'AU', 'JM', 'MW',
       'GH', 'MM', 'ZW', 'LB', 'TH', 'AF', 'ZA', 'BI', 'MX', 'TJ', 'RY',
       'SE', 'NO', 'NE', 'MZ', 'PG', 'ET', 'TZ', 'MY', 'AR', 'LK', 'GZ',
       'LS', 'UA', 'TN', 'CM', 'JPN', 'SD', 'BU', 'MN', 'SV', 'RO', 'BJ',
       'JP', 'ZR', 'PA', 'TD', 'IL', 'CG', 'BG', 'TT', 'UG', 'PL', 'SB',
       'MK', 'RW', 'SS', 'IR', 'SI', 'CZ', 'SA', 'NC', 'KY', 'KR', 'CL',
       'SK', 'LR', 'NI', 'FM', 'UY', 'GT'], dtype=object)

In [34]:
df[df["Supplier Country Code"].isna()]

,Award Date,Quarter and Fiscal Year,Commodity Category,Contract Description,WBG Organization,Selection Number,Supplier,Supplier Country,Supplier Country Code,Contract Award Amount,Fund Source,VPU description,Quarter,Quarter2,Year
16,09/16/2013 12:00:00 AM,Q1 - FY14,CONTRACT CONSULTANTS,Consulting services for SSATP (Africa Transpor...,IBRD,1102453,Corridor Development Consultants,Namibia,NaN,568022.0,TRUST FUND,Africa,Q1,Q1,2014

In [36]:
df["Supplier Country Code"] = df["Supplier Country Code"].fillna("NA")

In [37]:
df[df["Supplier Country Code"].isna()]

Empty DataFrame
Columns: [Award Date, Quarter and Fiscal Year, Commodity Category, Contract Description, WBG Organization, Selection Number, Supplier, Supplier Country, Supplier Country Code, Contract Award Amount, Fund Source, VPU description, Quarter, Quarter2, Year]
Index: []